html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  
}
main h4 span.typed-text{
    color: #ec4646;
}
.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1 infinite;
  }

.welcome-inf{
    font-size: 2rem;
    color: #55b3b1;
}
.welcome-header{
    font-size: 4rem;
    color:#55b3b1;
}
#about{
    position: relative;
    background-image: url("banner_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main{
    position: absolute;
    margin-top: 10%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

#nav-bar{
    text-align: right;
    padding: 20px;
    top: 0;
    right: 0;
    bottom: 0;

}
.nav-button{
    margin: 20px;
    font-size: 1.4rem;
    color: #55b3b1;
    border-style: none;
    background: none;
}

#projects{
    padding: 4rem 2rem;
    display: grid;
    background-image: url("about-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
@media (max-width: 1333px){
    #projects{
        width: 100%;
        height: auto;
        /* background-position: 0% 0%; */
        background-attachment:scroll;
    }
}

@media(max-width:550px){
    .main{
        margin-top: 10%;
    }
    .welcome-inf{
        font-size: 2rem;
    }
    .nav-button{
        font-size: 1rem;
        padding: 5px;
        margin: 3px;
    }
    .welcome-header{
        font-size: 3rem;
    }
}
.container{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin:  auto;
  margin-top: 7em;

}
img{
    display: block;
    width: 100%;
}
.project-image {
    height: calc(100% - 3rem);
    width: 100%;
    object-fit: cover;
  }

#projects a{
    font-size: 1.6rem;
    color:#ec4646;
    text-decoration: none;
    
}
.project{
    background: rgba(17, 105, 142, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    text-decoration: none;
}
.project-title{
    color: #f8f1f1;
    margin-top: 10px;
    font-size: 1.3rem;
}
.code{
    color: rgba(17, 105, 142, 0.3);
  transition: color 0.3s ease-out;
}
.project:hover .code {
    color: #ff7f50;
  }


.project-header{
    margin: auto;
    padding-top: 20px;
    font-size: 2.3rem;
    color: #ec4646;
}

.btn {
    display: inline-block;
    margin: auto;
    margin-top: 6%;
    border-radius: 2px;
    
  }

  .btn-show-all {
    font-size: 2rem;
    background: rgba(17, 105, 142, 0.5);
    transition: background 0.3s ease-out;
  }
  
  .btn-show-all:hover {
    background: var(--main-red);
  }
  
  .btn-show-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  @media (max-width: 30.625em) {
    #projects {
      padding: 6rem 1rem;
    }
    
    .container {
      grid-template-columns: 1fr;
    }
    .project-title{
        font-size: 15px;

    }
    .btn{
        margin-top: 25px;
    }
    #projects a{
        font-size: 1.2rem;
    }
    .project-header{
        font-size: 2rem;
    }
  }

.Description{
    background-color: rgba(85, 179, 177, 0.3) ;
}

.contacts{
    background-color: #f8f1f1;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 300px;
}

.contact-header{
    padding-top: 120px;
    color: #19456b;
}
.contact-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    color: #11698e;
    padding-bottom: 20px;
}
.orange-line{
    height: 7px;
    background-color:#bb2f2f;
}

#contacts a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px;
    color: #19456b;
    display: inline-block;
}

#contacts .contact-details:hover {
    transform: translateY(8px);
    }

#contacts i{
    padding-right: 3px;
}
footer{
    background-color: #03506f;
}
.footer-p{
    padding: 30px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}